extends layout

block content
     .h-100.d-flex.flex-column.align-items-center.justify-content-center
        h2.mb-5 Kết nối thành công 
        a(href='/')
            button.btn.btn-primary Quay về trang chủ
